@import url("https://fonts.googleapis.com/css?family=Oswald:400,600|Sacramento|Source+Sans+Pro:300&subset=latin-ext");
/* Variables */
/* Global */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: #edf6f9;
  font-family: "Lato", sans-serif;
  color: #22223b;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.section-title {
  font-size: 22px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #edf6f9;
}

.section-title span {
  text-transform: none;
  font-weight: 400;
  color: #47477c;
}

/* Layout */
.wrapper {
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
}

.sidebar {
  -ms-flex: 1 0 0px;
      flex: 1 0 0;
}

.one {
  background-color: #006d77;
  border: solid 2px #edf6f9;
  border-radius: 10px;
}

.two {
  background-color: #edf6f9;
}

.two .section-title {
  color: #006d77;
}

.posts {
  -ms-flex: 2 0 0px;
      flex: 2 0 0;
}

.sidebar, .posts {
  margin-right: 10px;
  padding: 40px;
  color: #006d77;
}

/* Logo */
.logo {
  font-family: "Caveat", cursive;
  font-weight: 400;
  font-size: 104px;
  line-height: 1;
  text-align: center;
  color: #e29578;
}

/* Lists */
.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list .active {
  font-weight: bold;
  color: #e29578;
}

.list a {
  text-decoration: none;
  color: #83c5be;
}

.titles a {
  color: #edf6f9;
}

.list-horizontal li {
  display: inline-block;
}

/* Authors */
.authors li {
  margin-bottom: 12px;
}

/* Post */
.post {
  position: absolute;
  opacity: -1;
  transition: all 1s;
  z-index: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: start;
      align-items: flex-start;
  -ms-flex-pack: start;
      justify-content: flex-start;
}

.post .post-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 40%;
}

.post.active {
  opacity: 1;
  z-index: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: start;
      align-items: flex-start;
}

.post-author {
  font-style: italic;
}

.post-tags {
  display: -ms-flexbox;
  display: flex;
}

.post-tags p {
  margin: 0 10px 0 0;
}

.post-title {
  margin-top: 0;
  font-size: 25px;
}

/*Media*/
@media (max-width: 576px) {
  .wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .post.active {
    position: absolute;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .two {
    position: absolute;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    left: 50%;
  }
  .one {
    background-color: #edf6f9;
  }
  .one .section-title {
    color: #006d77;
  }
  .one a {
    color: #83c5be;
  }
  .authors li {
    margin-bottom: 0;
  }
}
/*# sourceMappingURL=style.css.map */